main.site-main(role='main')
  section.main-section
    //- If on sign-in page, extend for sign in form
    block sign-in-form
      
    //- If on sign-up page, extend for sign up form
    block sign-up-form
