doctype html
html(lang='en-US')
  head
    title=htmlWebpackPlugin.options.title
  body
    header.site-header
      img.logo(src='/img/logo.png')
      include ../components/logged-in-navigation
    main.site-main(role='main')
    footer.site-footer
