.site-header {
  border-bottom: 1px solid #ddd;
  height: 80px;
  width: 100%;

  .logo {
    height: 80px;
    padding: 15px;
    width: auto;
    float: left;
  }

  .site-navigation {
    ul {
      float: right;

      li {
        display: inline;
        padding: 10px;
        line-height: 80px;
        vertical-align: middle;
      }
    }
  }

  .title {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
  }
}
